* {
  margin: 0;
  padding: 0;
}

#topbanner {
  text-align: right;
  background-color: #bbbbcc;
  padding: 0.3em;
}

#body {
  padding: 1em;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup > div {
  display: inline-block;
  background-color: white;
  border: 1.5px solid #bbbbbb;
  border-radius: 0.5em;
  padding: 2em;
}

input {
  margin: 1em 0;
  width: 100%;
  min-width: 1em;
  border-radius: 0.2em;
  border: 1px solid #bbbbbb;
  padding: 0.1em;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button {
  padding: 0.3em;
  margin: 0.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

#body > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  display: block;
  border: 1px solid #bbbbbb;
  padding: 1em;
  margin: 1em;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

svg {
  padding: 1em 0;
}
